.customers-list {
  display: inline-flex;
}

.customers-list__item:not(:first-child) {
  margin-left: 30px;
}

.customers-list__link {
  @extend %flex;
  justify-content: center;
  width: 170px;
  height: 92px;
  background-color: var(--base-bg-color);
  border: 1px solid var(--soc-lk-cr);
  color: var(--soc-lk-cr);
  border-radius: var(--border-rad);

  transition: color var(--anime), border-color var(--anime);

  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.customers-list__icon {
  fill: currentColor;
}
